<p-table
  [value]="productList"
  [tableStyle]="{'min-width': '40rem'}"
  [paginator]="true"
  [rows]="pageSize"
  [totalRecords]="totalItemCount"
  [lazy]="true"
  (onLazyLoad)="loadCustomers($event)"
  dataKey="_id"
  [loading]="loading"
  [rowHover]="true"
  [(selection)]="selectedProducts"
  [first]="first"
  [globalFilterFields]="['name', 'classification']"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex flex-row">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts($event)" [disabled]="!selectedProducts || !selectedProducts.length"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>№</th>
          <th>Название</th>
          <th>Картинка</th>
          <th>Вид</th>
          <th>Стоимость</th>
          <th>Дисконт %</th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th><p-columnFilter type="text" field="name" [showMenu]="false"></p-columnFilter></th>
          <th></th>
          <th>
            <p-columnFilter field="classification" matchMode="equals" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="ddOption" (onChange)="filter($event.value)" placeholder="Все" [showClear]="true">
                      <ng-template let-option pTemplate="item">
                          <span>{{option.label}}</span>
                      </ng-template>
                  </p-dropdown>
              </ng-template>
          </p-columnFilter>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
    </ng-template>
    <ng-template  let-i="rowIndex" let-line pTemplate="rowexpansion" pTemplate="body" let-product>
        <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>{{i + 1}}</td>
            <td>{{product.name}}</td>
            <td><img *ngIf="product.imgPath" [src]="product.imgPath" [alt]="product.name" width="100" class="shadow-4" /><span *ngIf="!product.imgPath">Нет</span></td>
            <td>{{product.classification}}</td>
            <td>{{product.coast}}</td>
            <td>{{product.diskont}}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product._id)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct($event, product._id, product.name)"></button>
            </td>
        </tr>
    </ng-template>


    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            <span *ngIf="!!productList">
              Всего {{totalItemCount}} зап. показано {{productList.length}} зап. с {{first+1}} ой по {{first + productList.length }} ую.
            </span>
        </div>
    </ng-template>

</p-table>

<p-confirmPopup></p-confirmPopup>
