:host{
  display: block;
  margin: 0 auto;
  ::ng-deep{
  .p-dataview{
    .p-dataview-content{
      background: rgba(0,0,0,.02);
      .p-grid{
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .col-card{
          margin: .5rem .5rem;
        }
        .product-grid-item{
          height: 100%;
        }
      }
    }
  }
  }
  .product-grid-item-content{
    padding: .5rem;
    .product-description{
      padding: .125rem .5rem;
    }
  }
  .product-grid-item-bottom{
    padding: .5rem;
  }
}
