<p-dataView [value]="production" layout="grid">
  <ng-template pTemplate="header">Рецепты тортов</ng-template>
  <ng-template let-product pTemplate="gridItem">
    <div class="col-3 md:col-4 col-card">
        <div class="product-grid-item card">
            <div class="product-grid-item-top">
                <div>
                    <i class="pi pi-tag product-category-icon"></i>
                    <span class="product-category">{{product.classification}}</span>
                </div>
            </div>
            <div class="product-grid-item-content">
                <img [src]="product.imgPath2" [alt]="product.name" style="width: 100%;"/>
                <div class="product-name">{{product.name}}</div>
                <div class="product-description">{{product.description}}</div>
            </div>
            <div class="product-grid-item-bottom">
                <span class="product-price">{{product.coast}}руб/кг<div class=""></div></span>
            </div>
        </div>
    </div>
  </ng-template>
</p-dataView>
