<div class="gallery">
  <p class="lead">
    Представлены выполненные заказы. Заказать подобный можно по телефону у нашего менеджера, по номеру под картинкой.
  </p>
  <p-checkbox label="Групировать по виду события"  [(ngModel)]="endableGroup" [binary]="true" (onChange)="onCheckClick($event)"></p-checkbox>
  <p-tree [value]="tList" [class]="{'t-column': !endableGroup}" class="mt-3">
    <ng-template pTemplate="header">
      <p class="h5"><b>Галерея тортов</b></p>
    </ng-template>
    <ng-template let-node  pTemplate="picture">
      <p-card>
        <ng-template pTemplate="header">
          <p-image src="assets/img/cakeGalaray/{{node.data}}" alt="Image" width="600" [preview]="true">
            <ng-template pTemplate="indicator">
              <i class="pi pi-eye" style="font-size: 3rem"></i>
            </ng-template>
          </p-image>
        </ng-template>
        <ng-template pTemplate="footer">
          <span appCapital>{{node.label}}</span>
        </ng-template>

      </p-card>
  </ng-template>
  </p-tree>
</div>
