:host{
  display: block;
  padding: 0 1rem;
  .gallery{
    >p{
      text-indent: 2rem;
    }
  }
  ::ng-deep{
    p-tree{
      display: block;
    }
    .t-column{
      .p-card-header img{
        width: 350px;
      }
      .p-image-mask img{
        width: 80%;
      }
      .p-tree-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}
