:host{
  display: block;
  width: 100%;
}
.user__login{
  // border: 1px solid rgba(0,0,0,.15);
  // background-color: rgba(0,0,0,.02);
  // border-radius: 10px;
  padding: .5rem 1rem;
  margin: 0 auto;
}
