<div class="site__page-800px registration">
    <h1>{{leadingText}}</h1>
    <p class="lead" *ngIf="!!regForm && !isUpdate">Есть акаунт? Можно <a [routerLink]="['/users/login']" class="link-hover-opacity-75-hover">войти.</a></p>
    <form *ngIf="!!regForm; else loaderShow" [formGroup]="regForm"  (submit)="submit()" class="d-flex flex-column">
        <div class="registration__controls-block">
            <ng-container *ngTemplateOutlet="inputGr ;context: {$implicit: {label:'Реальное имя', id:'realNameID', type:'text', formname:'realname'}}"></ng-container>
            <ng-container *ngTemplateOutlet="inputGr ;context: {$implicit: {label:'Логин', id:'loginID', type:'text', formname:'username'}}"></ng-container>
            <ng-container *ngTemplateOutlet="inputGr ;context: {$implicit: {label:'Почта', id:'emailID', type:'text', formname:'email'}}"></ng-container>
            <div *ngIf="!isUpdate || showChangePassword" class="password__block">
              <ng-container *ngTemplateOutlet="inputGr ;context: {$implicit: {label:'Пароль', id:'inputPassword', type:'password', formname:'password'}}"></ng-container>
              <ng-container *ngTemplateOutlet="inputGr ;context: {$implicit: {label:'Павторите пароль', id:'inputPasswordRepeat', type:'password', formname:'passwordRepeat'}}"></ng-container>
              <div class="password__hide-button"><button
                title="Отменить изменение пароля"
                *ngIf="isUpdate"
                pButton
                pRipple
                type="button"
                icon="pi pi-times"
                class="p-button-rounded p-button-danger"
                (click)="hidePassword()"
              ></button></div>
            </div>
            <div *ngIf="isUpdate && !showChangePassword" class="col-12 mt-4 mb-4">
                <button class="mbtn btn-primary" type="button" (click)="changePasswordClick()">Изменить пароль</button>
            </div>
            <div *ngIf="isUpdate" class="mb-3 row dd-form">
                <label for="rolesID" class="col-sm-4 col-form-label">Тип учeтной записи:</label>
                <div class="col-sm-8 dd-cont">
                    <p-dropdown
                        *ngIf="!isUpdate"
                        id="rolesID"
                        [options]="rolesList"
                        optionLabel="name"
                        optionValue="code"
                        formControlName="role"
                    ></p-dropdown>
                    <input *ngIf="isUpdate" class="form-control" readonly formControlName="role">
                </div>
            </div>
        </div>
        <div class="col-12"><re-captcha
            (resolved)="resolved($event)"
            (error)="onError($event)" errorMode="handled">
        </re-captcha></div>
        <div class="col-12 mt-4">
            <button class="mbtn btn-primary" type="submit" [disabled]="!regForm || regForm.invalid || !showSubmit">Сохранить</button>
        </div>
        <ng-template #inputGr let-data>
            <div class="mb-3 row">
                <label for="{{data.id}}" class="col-sm-4 col-form-label">{{data.label}}:</label>
                <div class="col-sm-8">
                    <input
                        type="{{data.type}}"
                        [class]="'form-control' + (errors(regForm, data.formname)?' is-invalid':(isValid(regForm, data.formname)?' is-valid':''))"
                        id="{{data.id}}"
                        formControlName="{{data.formname}}"
                    />
                    <div class="invalid-feedback">{{errors(regForm, data.formname)}}</div>
                </div>
            </div>
        </ng-template>
    </form>
</div>
<ng-template #loaderShow><p-progressBar mode="indeterminate"  [style]="{ height: '6px' }"></p-progressBar></ng-template>
