
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
