<div class="main__page">
  <div class="main__page-decoration">
    <div class="decoration__img">
      <div
        class="img_wraper"
        [class]="{
          'main-hide':!hidePic,
          'main-show':hidePic
        }"
      >
        <img
          *ngIf="info"
          src="{{info.imgPath}}"
        />
        <div *ngIf="info" class="main__chip"><div class="chip__oldprice red__krest">{{info.coast}}руб.</div><div class="chip__newprice">{{percent(info.coast, info.diskont)}}руб.</div></div>
      </div>
    </div>
    <p class="decoration__heading">
      <span
        *ngIf="info"
        [class]="{
          'main-hide':!hidePic,
          'main-show':hidePic
        }"
      >{{info.name}}</span>
    </p>
  </div>
  <div class="main__page-info">
    <div class="info__heading">
      <div class="lead-text">Промо-акция</div>
      <div class="secondary-text">
        <span *ngIf="info" [class]="{
            'main-hide':!hidePic,
            'main-show':hidePic
          }"
        >{{info.sloganPromotion}}</span></div>
    </div>
    <div class="info__controls">
      <button
        *ngIf="info"
        [title]="isInCart(info._id)?'Уже в корзине':'Довить в корзину'"
        [disabled]="isInCart(info._id)"
        (click)="cartAddClick(info._id, info.name, info.coast, info.diskont)"
        class="mbtn btn-primary"
        [class]="{
          'main-hide':!hidePic,
          'main-show':hidePic
        }"
      >Заказать</button>
    </div>
    <div class="info__content">
      <div class="lead-text">Открыто/Закрыто 8:00 - 23:00 | какой-то адрес.</div>
      <div class="secondary-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
    </div>
    <div class="info__footer">
      <div class="info__footer-site">www.my-site.com</div>
      <ul class="info__footer-soceal">
        <li class="soceal__item"><a class="soceal__link"><i class="soceal__icon icon-facebook-circled"></i></a></li>
        <li class="soceal__item"><a class="soceal__link"><i class="soceal__icon icon-instagram"></i></a></li>
        <li class="soceal__item"><a class="soceal__link"><i class="soceal__icon icon-vkontakte"></i></a></li>
        <li class="soceal__item"><a class="soceal__link"><i class="soceal__icon icon-whatsapp"></i></a></li>
      </ul>
    </div>
  </div>
</div>
