:host{
  .main__chip{
    display: flex;
    position: absolute;
    min-width: 150px;
    background: rgba(180, 250, 140, .65);
    padding: .25rem .5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    // justify-content: space-between;
    bottom:20px;
    right: 20px;
    font-family: "noto_sansregular", Areal, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: right;
    border-radius: 10px;
    .chip__oldprice{
      color: rgba(60,60,100,.6);
      font-size: .75em;
      align-self: center;
    }
    .chip__newprice{
      padding-left: 1rem;
      font-size: 1.2em;
    }
  }
}
@-webkit-keyframes slidein {
  0% { opacity: 0; }
  25% { opacity: .25; }
  50% { opacity: .5; }
  75% { opacity: .75; }
  100% { opacity: 1; }
}

@-moz-keyframes slidein {
  0% { opacity: 0; }
  25% { opacity: .25; }
  50% { opacity: .5; }
  75% { opacity: .75; }
  100% { opacity: 1; }
}

@-o-keyframes slidein {
  0% { opacity: 0; }
  25% { opacity: .25; }
  50% { opacity: .5; }
  75% { opacity: .75; }
  100% { opacity: 1; }
}

@keyframes slidein {
  0% { opacity: 0; }
  25% { opacity: .25; }
  50% { opacity: .5; }
  75% { opacity: .75; }
  100% { opacity: 1; }
}


@-webkit-keyframes slideout {
  0% { opacity: 1; }
  25% { opacity: .75; }
  50% { opacity: .5; }
  75% { opacity: .25; }
  100% { opacity: 0; }
}

@-moz-keyframes slideout {
  0% { opacity: 1; }
  25% { opacity: .75; }
  50% { opacity: .5; }
  75% { opacity: .25; }
  100% { opacity: 0; }
}

@-o-keyframes slideout {
  0% { opacity: 1; }
  25% { opacity: .75; }
  50% { opacity: .5; }
  75% { opacity: .25; }
  100% { opacity: 0; }
}

@keyframes slideout {
  0% { opacity: 1; }
  25% { opacity: .75; }
  50% { opacity: .5; }
  75% { opacity: .25; }
  100% { opacity: 0; }
}

.main-hide{
  -webkit-animation: slideout .5s ease 1 normal;
  -moz-animation: slideout .5s ease 1 normal;
    -o-animation: slideout .5s ease 1 normal;
    animation: slideout .5s ease 1 normal;
  opacity: 0;
}
.main-show{
  -webkit-animation: slidein .5s ease 1 normal;
  -moz-animation: slidein .5s ease 1 normal;
    -o-animation: slidein .5s ease 1 normal;
    animation: slidein .5s ease 1 normal;
  opacity: 1;
}
