<form class="production__form" [formGroup]="productForm" (submit)="onSubmit()">
  <app-form-control fieldName="name" [formGroup]="productForm" label="Название"></app-form-control>
  <app-form-control fieldName="description" [formGroup]="productForm" label="Описание" tag="texterea"></app-form-control>
  <app-form-control fieldName="classification" [formGroup]="productForm" label="Тип" [ddItem]="ddOption" [rows]="4"></app-form-control>
  <app-form-control fieldName="coast" [formGroup]="productForm" label="Стоимость" type="number"></app-form-control>
  <app-form-control fieldName="diskont" [formGroup]="productForm" label="Скидка" type="number"></app-form-control>
  <app-form-control fieldName="weight" [formGroup]="productForm" label="Вес (кг.)" type="number"></app-form-control>
  <app-form-control fieldName="recipe" [formGroup]="productForm" label="Рецепт" tag="texterea"></app-form-control>
  <app-form-control fieldName="sloganPromotion" [formGroup]="productForm" label="Слоган для промо акции" tag="texterea"></app-form-control>
  <app-form-control *ngIf="!!toUpdate" fieldName="imgPath" [formGroup]="productForm" label="Картинка 1" type="readonly"></app-form-control>
  <div *ngIf="!!toUpdate && src_pic1" class="mb-3 row">
    <img src="{{src_pic1}}" class="img-thumbnail" alt="...">
  </div>
  <app-form-control *ngIf="!!toUpdate" fieldName="imgPath2" [formGroup]="productForm" label="Картинка 2" type="readonly"></app-form-control>
  <div *ngIf="!!toUpdate && src_pic2" class="mb-3 row">
    <img src="{{src_pic2}}" class="img-thumbnail" alt="...">
  </div>
   <div class="mb-3 row">
    <div class="input-group mb-3 mt-4">
      <label for="formFile" class="input-group-text">Загрузка изображения</label>
      <input class="form-control" type="file" id="formFile" (change)="selectFile($event, 'newFile')" accept="image/png, image/jpeg">
    </div>
  </div>
  <div class="mb-3 row">
    <div class="input-group mb-3 mt-4">
      <label for="formFile" class="input-group-text">Загрузка доп. изображения</label>
      <input class="form-control" type="file" id="formFile" (change)="selectFile($event, 'newFile2')" accept="image/png, image/jpeg">
    </div>
  </div>
  <div class="mb-3 row">
    <button class="mbtn btn-primary" type="submit" [disabled]="!productForm || productForm.invalid">Сохранить</button>
  </div>
</form>
