<div *ngIf="showCart && cartInfo.count>0" class="cart">
  <div class="cart__bumper">
    <div class="cart__img" (click)="displayModal=true"></div>
    <span class="position-absolute start-100 translate-middle badge rounded-pill bg-secondary">
      {{cartInfo.totalCoast}} руб
    </span>
  </div>
</div>
<p-dialog  header="Корзина" [(visible)]="displayModal" (onShow)="needRefresh=false" [modal]="true" [style]="{width: '60rem'}"
    [draggable]="false" [resizable]="false">
    <p-table [value]="cartData" [scrollable]="true" scrollHeight="500px">
      <ng-template pTemplate="header">
          <tr>
              <th>№</th>
              <th>Название</th>
              <th>Количество</th>
              <th>Стоимость ед.</th>
              <th>Дисконт</th>
              <th>Итог</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-cart>
          <tr>
              <td><b>{{i+1}}.</b></td>
              <td>{{cart.name}}</td>
              <td><p-inputNumber
                [showButtons]="true"
                [size]="2"
                suffix="шт."
                [min]="1"
                [allowEmpty]="false"
                (onInput)="cartCountChange($event.value, cart.productID)"
                [ngModel]="cart.quantity"
                ></p-inputNumber></td>
              <td>{{cart.coast}}</td>
              <td>{{cart.diskont?(cart.diskont + '%'):''}}</td>
              <td>{{cart.quantity * percent(cart.coast, cart.diskont)}}</td>
              <td><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="removeOne(cart.productID, cart.name)"></button></td>
          </tr>
      </ng-template>
      <ng-template pTemplate="footer"><tr>
        <td colspan="2"></td>
        <td>{{productCount}}&nbsp;шт.</td>
        <td></td>
        <td>{{cartInfo.totalCoast}}&nbsp;руб.</td>
        <td></td>
      </tr></ng-template>
     </p-table>
        <ng-template pTemplate="footer">
          <p-toolbar>
            <ng-template pTemplate="left">
              <p-button icon="pi pi-times" (click)="clearCart()" label="Очистить корзину" class="" styleClass="p-button-danger p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="right">
              <re-captcha
                [hidden]="showSubmit"
                (resolved)="resolved($event)"
                (error)="onError($event)" errorMode="handled">
              </re-captcha>
              <p-button [hidden]="!showSubmit" icon="pi pi-check" (click)="addClick()" label="Заказать" styleClass="p-button-text"></p-button>
            </ng-template>
          </p-toolbar>
        </ng-template>
</p-dialog>
