:host{
    ::ng-deep{
        .p-toolbar{
            padding: 0 .125rem;
        }
        .p-datatable-tbody{
            >tr{
                background: transparent;
                >td,>th{
                    background: transparent;
                }
            }
        }
        .p-datatable-wrapper{
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 4px;
            }
            &::-webkit-scrollbar-track{
                background-color: rgba(0,0,0,.08);
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background: linear-gradient(180deg, #0077bc 0%, #4392A9 100%);
                -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
            }
        }
    }
}