:host{
  .main__page .main__page-decoration .decoration__img .img_wraper{

    box-shadow: none;
    height: 100%;
    .img__sub-wrap{
      max-width: 90%;
      height: 370px;
      margin: auto;
      img{
        width: 100%;
        height: auto;
        filter: drop-shadow(10px 8px 4px rgba(0, 0, 0, 0.27));
      }
    }
  }
}
