<div class="main__page">
  <div class="main__page-decoration">
    <div class="decoration__img">
      <div class="img_wraper"><div class="img__sub-wrap"><img src="/assets/img/forbidden/404.png" /></div></div>
    </div>
    <p class="decoration__heading">4o4</p>
  </div>
  <div class="main__page-info">
    <div class="info__heading">
      <div class="lead-text">Проблема</div>
      <div class="secondary-text">Доступ запрещен</div>
    </div>
    <div class="info__content">
    </div>
  </div>
</div>
