<div class="design__back design_white_LT"></div>
<div class="design__back design_white_RT"></div>
<div class="design__back design_white_RB"></div>
<div class="design__back design_white_LB"></div>

<div class="site"><router-outlet></router-outlet></div>
<p-toast position="top-left"></p-toast>
