<form [formGroup]="logForm" (ngSubmit)="onSubmit()">
  <div class="pt-3 p-text-secondary block py-2 lead">Укажите учетные данные. Или <a
      [routerLink]="['/users/register']"
      (click)="cancelPress.emit()"
      class="link-hover-opacity-75-hover">зарегистрируйтесь.</a>
  </div>
  <div class="input-group mb-3">
      <label for="username" class="input-group-text">Имя пользователя</label>
      <input
        pInputText
        id="username"
        [class]="'form-control' + (isInvalid('username')?' is-invalid':(isValid('username')?' is-valid':''))"
        autocomplete="off"
        formControlName="username"
      />
      <div class="invalid-feedback">{{errors("username")}}</div>
  </div>
  <div class="input-group mb-3">
      <label for="pswd" class="input-group-text">Пароль</label>
      <input
        pInputText
        type="password"
        id="pswd"
        [class]="'form-control' + (isInvalid('password')?' is-invalid':(isValid('password')?' is-valid':''))"
        autocomplete="off"
        formControlName="password"
      />
      <div class="invalid-feedback">{{errors("password")}}</div>
  </div>
  <div class="pt-2 d-flex justify-content-end">
      <button
        pButton
        [loading]="false"
        icon="pi pi-check"
        type="submit"
        label="Войти"
        class="me-2 p-button-success p-button-outlined p-button-raised p-button-sm"
        [disabled]="(logForm.invalid && !notEmpty)"
      ></button>
      <button *ngIf="dialogMode" pButton type="button" icon="pi pi-times" label="Отмена" class="p-button-secondary p-button-outlined p-button-raised p-button-sm" (click)="cancelPress.emit()"></button>
  </div>
</form>

