<div class="site__frame">
    <div class="design__top design_RT"></div>
    <div class="design__top design_RB"></div>
    <div class="design__top design_MB"></div>
    <div class="design__top design_LB"></div>

    <div class="site__heading">
      <p-menubar [model]="mainMenu">
        <ng-template pTemplate="start">
          <img src="\assets\img\main\logo.png" height="60">
        </ng-template>
      </p-menubar>
    </div>
    <div class="site_body">
      <router-outlet *ngIf="showRoute"></router-outlet>
      <div class="site__body-license"><span>Дизайн от&nbsp;</span><span><a target="_blank" rel="noopener" href="https://ru.freepik.com/free-psd/promo-opening-buy-one-get-one-landing-page_10665175.htm">freepik</a></span></div>
      <app-login [visible]="showLogin" (closeClick)="closeLoginDialog()"></app-login>
      <app-cart [showCart]="canShowCart" (refreshRequest)="refresh()"></app-cart>
      <p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>
    </div>
</div>
