:host{
  display: block;
  margin: 0 auto;
  .shop__sub{
    margin: .5rem;
  }
  ::ng-deep{
    p-card{
      position: relative;
      display: block;
      height: 100%;
      .shop__coast{
        position: absolute;
        top:16rem;
        left: -1.5rem;
        p-chip{
          .p-chip{
            background: rgba(255, 178, 92, .8);
            .p-chip-text{
              font-family: "noto_sansregular", Areal, sans-serif;
              // font-family: "Alumni Sans Medium", Areal, sans-serif;
              font-size: 2.5rem;
              font-weight: 400;
            }
          }
        }
        .sm-chip{
          position: relative;
          display: block;
          left: -5px;
          top:-40px;
          .p-chip{
            background: rgba(255, 12, 12, .3);
            .p-chip-text{
              color: rgba(123, 120, 120, .6);
              font-size: 1.3rem;
            }
          }
        }
        .bg-chip{
          left: 0;
        }
        .shop__diskont{
          position: absolute;
        }
      }
      .shop__diskont-star{
        position: absolute;
        display: block;
        width: 100px;
        height: 100px;
        top:10px;
        left:10px;
        background: url("/assets/img/shop/star1.png") no-repeat;
        background-repeat: no-repeat;
        background-size: contain;
        .diskont__text{
          font-weight: 800;
          color: #FF4040;
          font-size: 1.3rem;
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
        >.p-card{
        height: 100%;
        display: flex;
        flex-direction: column;
        .p-card-header{
          min-height: 342px;
          height: 342px;
          display: block;
          overflow: hidden;
          img{
            max-height: 100%;
          }
        }
        >.p-card-body{
          flex:1;
          display: flex;
          flex-direction: column;
          height: 100%;
          .p-card-content{
            flex:1;
          }
          .p-card-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .footer__middfe-informer{
              flex:1;
              >div{
                margin: 0 .5rem;
                span{
                  padding: .125rem 1rem;
                }
              }
            }
          }
        }
      }
    }
    .p-dataview{
      .p-dataview-content{
        background: rgba(0,0,0,.02);
        .p-grid{
          display: flex;
          margin: 0 auto;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          .col-card{
            margin: .5rem .5rem;
          }
          .product-grid-item{
            height: 100%;
          }
        }
      }
    }
  }
}
