<p-toolbar>
  <div class="p-toolbar-group-left">
    <span>Показаны:</span>
    <p-checkbox class="ps-3" name="groupname" value="торт" label="торты" [(ngModel)]="selectedValues" (onChange)="checkBoxChange()"></p-checkbox>
    <p-checkbox class="ps-3" name="groupname" value="пироженное" label="пироженные" [(ngModel)]="selectedValues" (onChange)="checkBoxChange()"></p-checkbox>
    <p-checkbox class="ps-3" name="groupname" value="десерт" label="десерты" [(ngModel)]="selectedValues" (onChange)="checkBoxChange()"></p-checkbox>
    <p-checkbox class="ps-3" name="groupname" value="выпечка" label="выпечка" [(ngModel)]="selectedValues" (onChange)="checkBoxChange()"></p-checkbox>
  </div>
</p-toolbar>
<p-dataView
  [value]="production"
  layout="grid"
  [paginator]="true"
  [rows]="pageSize"
  [totalRecords]="totalItemCount"
  [lazy]="true"
  (onLazyLoad)="loadCustomers($event)"
  [loading]="loading"
  [first]="first"
  emptyMessage="Ничего не найдено"
>
  <ng-template pTemplate="header">Магазин</ng-template>
  <ng-template let-i="rowIndex" let-product pTemplate="gridItem">
    <div class="shop__sub">
      <p-card
      header="{{product.name}}"
      subheader="{{product.classification+', вес: '+product.weight +  'кг.'}}"
      [style]="{width: '380px'}"

      styleClass="p-card-shadow">
        <ng-template pTemplate="header">
        <p-image src="{{product.imgPath}}" alt="Image" [preview]="true">
          <ng-template pTemplate="indicator">
            <i class="pi pi-eye" style="font-size: 3rem"></i>
          </ng-template>
        </p-image>
        <div class="shop__coast">
          <p-chip *ngIf="product.diskont" [label]="percent(product.coast, product.diskont) + 'руб.'" class="shop__diskont" [class]="{'bg-chip':product.diskont>0}"></p-chip>
          <p-chip [label]="product.coast + 'руб.'" class="shop__diskont" [class]="{
            'sm-chip':product.diskont>0,
            'red__krest':product.diskont>0
          }"></p-chip>
        </div>
        <div *ngIf="product.diskont" class="shop__diskont-star"><div class="diskont__text">{{product.diskont}}%</div></div>
        </ng-template>
        <p>{{product.description}}</p>
        <ng-template pTemplate="footer">
          <div><p-inputNumber
            [showButtons]="true"
            [size]="2"
            suffix="шт."
            [min]="1"
            [allowEmpty]="false"
            (onInput)="cartCountChange($event.value, product._id)"
            [ngModel]="getCountValById(product._id)"
            ></p-inputNumber></div>
          <div class="footer__middfe-informer" *ngIf="isInCart(product._id)"><div><span>Уже в корзине</span></div><div><span>{{getCoastValById(product._id)}}р.</span></div></div>
          <div><button
            *ngIf="!isInCart(product._id)"
            pButton
            pRipple
            type="button"
            icon="pi pi-cart-plus"
            class="p-button-rounded"
            (click)="cartAddClick(product._id, product.name, product.coast, product.diskont)">
          </button><button
          *ngIf="isInCart(product._id)"
          pButton
          pRipple
          type="button"
          icon="pi pi-shopping-bag"
          title="Перейти в корзину"
          class="p-button-success p-button-rounded">
        </button></div>
        </ng-template>
    </p-card>
  </div>
  </ng-template>
  <ng-template pTemplate="footer">Всего {{totalItemCount}} зап. показано {{production.length}} зап. с {{first+1}} ой по {{first + production.length}} ую.</ng-template>
</p-dataView>
