<div class="mb-3 row">
  <label for="{{id}}" class="col-sm-4 col-form-label">{{label}}:</label>
  <div class="col-sm-8" [formGroup]="formGroup">
    <input
      *ngIf="tag === 'input' && !ddItem && type==='readonly'"
      type="text"
      [class]="'form-control-plaintext' + (errors(formGroup, fieldName)?' is-invalid':(isValid(formGroup, fieldName)?' is-valid':''))"
      id="{{id}}"
      formControlName="{{fieldName}}"
      readonly
    />
    <input
      *ngIf="tag === 'input' && !ddItem && type!=='readonly'"
      type="{{type}}"
      [class]="'form-control' + (errors(formGroup, fieldName)?' is-invalid':(isValid(formGroup, fieldName)?' is-valid':''))"
      id="{{id}}"
      formControlName="{{fieldName}}"
      />
    <textarea
      *ngIf="tag === 'texterea' && !ddItem && type!=='readonly'"
      [class]="'form-control' + (errors(formGroup, fieldName)?' is-invalid':(isValid(formGroup, fieldName)?' is-valid':''))"
      id="{{id}}"
      formControlName="{{fieldName}}"
      [rows]="rows"
    ></textarea>
    <p-dropdown
      *ngIf="ddItem"
      [options]="ddItem?ddItem:[]"
      formControlName="{{fieldName}}"
      optionLabel="name"
      optionValue="code"></p-dropdown>
    <div class="invalid-feedback">{{errors(formGroup, fieldName)}}</div>
  </div>
</div>
