@use 'sass:color';
@import './vars.scss';
.mbtn{
  background: #fafbfb;
  font-size: 1rem;
  padding: .5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  border:1px solid transparent;
  &:not([disabled]){
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.51);
  }
}
.mbtn[disabled]{
  box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.1);
}

@mixin sub-button($className, $color, $bgcolor){
  #{$className}{
    &:not([disabled]){
      color:$color;
      background: $bgcolor;
      @include button-hover($bgcolor);
    }
  }
}

@include sub-button(".btn-primary", $primary-color, $primary-bcgk);
