*,
*::before,
*::after{
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background: url("/assets/img/main/bckg1.jpg");
    background-repeat: repeat;
    z-index: 0;
}

.site{
    padding-top: 3rem;
    z-index: 10;
    position: relative;
}
.site__frame{
    position: relative;
    min-height: 700px;
    margin: 0 auto;
    background: url("/assets/img/main/bckg2.jpg");
    background-repeat: repeat;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: 20px 25px 28px 2px rgba(0, 0, 0, 0.23);

}
@media screen and (min-width: 959.999px){
  .site__frame{
    width: 1124px;
  }
}
.site__heading{
  text-align: center;
  padding: 1rem 0;
}
@media screen and (min-width: 959.999px){
  .site__heading{

  }
}
.site_body{
    flex:1;
    padding: 1rem 2rem 2rem;
    position: relative;
    z-index: 100;
    .site__body-license{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: end;
      >span{
        font-size: .8rem;
        a{
          color:rgb(170,170,255)
        }
        &:first-of-type{
          color: rgb(180,180,189);
        }
      }
    }
}

.site__page-400px{
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
.site__page-600px{
  display: block;
  max-width: 600px;
  margin: 0 auto;
}
.site__page-800px{
  display: block;
  max-width: 800px;
  margin: 0 auto;
}
.production__form{
  .row{
    max-width: 750px;
    margin: 0 auto;
    .col-form-label{
      font-size: 1.2em;
      text-align: right;
    }
  }
}
.cart{
  position: absolute;
  display: block;
  width:90px;
  height: 90px;
  border-radius: 50%;
  background:rgba(180,180,180, .1);
  top:-1.5rem;
  right: 2rem;
  transition: background .5s ease-in-out, box-shadow .5s ease-in-out;
  &:hover{
    background:rgba(220,220,220, .6);
    box-shadow: 5px 3px 8px rgba(180,180,180, .6);;
    transition: background .5s ease-in-out, box-shadow .5s ease-in-out;
    .cart__bumper{

    }
  }
  .cart__bumper{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    top:0;
    left: 0;
    .badge{
      top:10px
    }
    .cart__img{
      display: block;
      width: 46px;
      height: 46px;
      background: url("/assets/img/cart/cart1.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    transition: transform .25s ease-in-out;
    &:hover{
      transform: scale(1.2);
      transition: transform .5s ease-in-out;
    }
  }
}
.cart__visibiliti{
  display: none;
}
.red__krest{
  position: relative;
  display: block;
  &::after, &::before{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    background-color: rgba(250,50,50,.9);
    left: 50%;
    top:-22px;
    bottom: -22px;
    border-radius: 4px;
  }
  &::after{
    transform: rotate(45deg) scaleX(-50%);
  }
  &::before{
    transform: rotate(135deg) scaleX(-50%);
  }
}

.capital{
  text-transform: capitalize;
}

@media screen and (max-width: 959.999px){
  .cart{
    display: none;
  }
  .cart__visibiliti{
    display: bloc;
  }
}
