@use './vars.scss';
.main__page{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  .main__page-decoration{
    // max-width: 40%;
    padding: .5rem 1rem;
    display: block;
    margin: 0 auto;
    position: relative;
    .decoration__heading{
      margin: 0;
      position: absolute;
      writing-mode: tb-rl;
      right: .5rem;
      top: .75rem;
      padding: 1rem 0 2rem 0;
      background-color: #fafafa;
      font-family: "noto_sansregular", Areal, sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #c2aba8;
      letter-spacing: 1.5px;
    }
    .decoration__img{
      border: 3px solid #c2aba8;
      padding: 1.5rem;

      .img_wraper{
        width: 400px;
        height: 400px;
        overflow: hidden;
        position: relative;
        box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.13);
        >img{
          position: absolute;
          height: 100%;
          right: 0;
        }
      }
    }
  }
  .main__page-info{
    padding: 3rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: wrap;
    .lead-text{
      font-family: "Alumni Sans Medium", Areal, sans-serif;
    }
    .info__content,.info__heading{
      text-align: center;
    }
    .info__heading{
      height: 150px;
      .lead-text{
        letter-spacing: 1.8px;
        font-size: 80px;
        color:#c2aba8;
        text-transform: uppercase;
      }
      .secondary-text{
        font-family: "Great Vibes", Areal;
        // font-weight: bold;
        // letter-spacing: 1.8px;
        font-size: 70px;
        color:#7e7a7a;
        position: relative;
        line-height: 70px;
        top: -55px;
        text-shadow: 3px 3px rgba(126,122,122,.3);
      }
    }
    .info__content{
      .lead-text{
        font-size: 1.5rem;
        color: $secondary-text-color;
      }
      .secondary-text{
        font-family: "Alumni Sans Light", Areal, sans-serif;
        color: $secondary-text-color;
        font-size: 1rem;
        letter-spacing: .75px;
      }
    }
    .info__controls{
      padding: 1rem 0;
    }
    .info__footer{
      text-align: center;
      margin-top: 1rem;
      .info__footer-site{
        margin-bottom: .5rem;
        color: $secondary-text-color;
      }
      .info__footer-soceal{
        margin: 0;
        padding: 0;
        list-style: none;
        .soceal__item{
          display: inline-block;
          padding: 0 .25rem;
          .soceal__link{
            text-decoration: none;
          }
        }
        .soceal__icon{
          display: inline-block;
          font-size: 1rem;
          width: 1.75rem;
          height: 1.75rem;
          line-height: 1.75rem;
          text-align: center;
          border-radius: 50%;
          color:$primary-color;
          background: $primary-bcgk;
          box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.51);
          @include button-hover($primary-bcgk);

        }
      }
    }
  }
}

@media screen and (max-width: 960px){
  .main__page{
    flex-direction: column;
    flex-wrap: wrap;
    white-space: wrap;
    align-content: center;
    .main__page-decoration{
      max-width: 485px;
      min-width: 485px;
    }
  }
}

@media screen and (max-width:589px){
  .main__page{
    >.main__page-decoration{
      height: 300px;
      max-width: 300px;
      min-width: 300px;
      >.decoration__img>.img_wraper{
        width: 220px;
        height: 220px;
      }
    }
    >.main__page-info>.info__heading{
      .lead-text{
        font-size: 60px;
      }
      .secondary-text{
        font-size: 45px;
        line-height: 45px;
        top: -40px;
      }
    }
  }
}
