<p-dialog header="Вход" [modal]="true" [(visible)]="visible" (onHide)="doClose()" [style]="{ width: '35rem' }">
  <app-login-form (submitOk)="doClose()" (cancelPress)="doClose()" [dialogMode]="true"></app-login-form>
</p-dialog>
